In [1]:
print("This is my functions")

This is my functions

###FUNCTIONS

In [2]:
#def is use to create function

In [8]:
def test():#Except reserved keyword in python we can use any function name
    pass

In [9]:
def test1():
    print("This is my function")

In [10]:
test1()

This is my function

In [11]:
test1()

This is my function

In [12]:
test()

In [13]:
test()

In [14]:
test2()

NameError: name 'test2' is not defined

In [30]:
test1() + "Name" #test1() is not returning anything it's just returning none type we cannot perform operation with return none type

TypeError: 'str' object is not callable

In [21]:
def test():
    return ("This is my fuction")

In [23]:
test() + " Name"

'This is my fuction Name'

In [25]:
test()

'This is my fuction'

In [28]:
test1=test() + " Hi"

In [29]:
test1

'This is my fuction Hi'

In [31]:
def test3():
    return (1,4,"Name",True)

In [41]:
test3() #yes we can. get multiple datatype at a one type we can return

(1, 4, 'Name', True)

In [34]:
t=test3()

In [35]:
t

(1, 4, 'Name', True)

In [36]:
t[0]

1

In [37]:
t[2]

'Name'

In [42]:
#Thus it is a (t) is tupple here

In [40]:
t.count(4) #Tuple operation

1

In [43]:
test3()

(1, 4, 'Name', True)

In [44]:
test3()[0]

1

In [45]:
test3()[1]

4

In [49]:
test3()[2]

'Name'

In [51]:
test3()[3]

True

In [52]:
test3()[4]

IndexError: tuple index out of range

In [59]:
a,b,c,d=test3()

In [54]:
a

1

In [55]:
b

4

In [56]:
c

'Name'

In [57]:
d

True

In [61]:
def test4():
    a=3*4 + 5 
    return (a)

In [62]:
test4()

17

In [63]:
type(test4())

int

In [64]:
type(test4)

function

In [71]:
def test5(a,b):
    c= a + b
    return c

In [72]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [73]:
test5(1,2)

3

In [75]:
test5('a','b') #Concatenates a and b

'ab'

In [77]:
test5(1,'a') #Cannot perform + operation between integer and string datatype

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [79]:
 test5([1,2,3,4,5],['a',7,8,9,6,'b']) #Concatenates two lists

[1, 2, 3, 4, 5, 'a', 7, 8, 9, 6, 'b']

In [80]:
test5(1,-4)

-3

In [81]:
test5(b=-4,a=1)

-3

In [82]:
test5(p=4,q=1)

TypeError: test5() got an unexpected keyword argument 'p'

In [103]:
lst=[1,2,3,4,'a',"Name",[1,5,89,45,76,'Hi','Name'],"Pw Skills"]

In [84]:
#create a function which will take list as a input and give me a final list with all the numeric value

In [104]:
def func(l):
    return ([i for i in l if(type(i)==int)])

In [106]:
func(lst)

[1, 2, 3, 4]

In [122]:
lst=[1,2,3,4,'a',"Name",[1,5,89,45,76,'Hi','Name'],"Pw Skills"]
def func1(l):
    lst=[i for i in l if(type(i)==int)]
    for i in l:
        if(type(i)==list):
            for j in i:
                if(type(j)==int):
                    lst.append(j)
    return (lst)

In [123]:
func1(lst)

[1, 2, 3, 4, 1, 5, 89, 45, 76]

In [124]:
lst

[1, 2, 3, 4, 'a', 'Name', [1, 5, 89, 45, 76, 'Hi', 'Name'], 'Pw Skills']

In [125]:
func1(lst)

[1, 2, 3, 4, 1, 5, 89, 45, 76]

In [127]:
def test(a,b,c,d,e): #What if we don't know how many parameters we are going to be passed in given function
    pass

In [128]:
test(1,2,3,4,5)

In [129]:
test(1,2,3,4,5,6)

TypeError: test() takes 5 positional arguments but 6 were given

In [130]:
test(1,2,3,4)

TypeError: test() missing 1 required positional argument: 'e'

In [143]:
def test(*items):
    return items

In [132]:
test(1)

(1,)

In [138]:
test(1,"Pw Skills")

(1, 'Pw Skills')

In [133]:
test()

()

In [142]:
test(1,'2',"Name",[1,2,3,'a',"Pw Skills"],(1,4,5,7,8))

'Name'

In [149]:
#From given large infinite data take out only lists
def test(*data):
    return([i for i in data if type(i)==list])

In [152]:
test([1,2,3,4],'A',"Name",(2,4,6,8,0,"Water"),["Car","Bike"],{"Name":"Unknown"},{1,2,3,4,5})

[[1, 2, 3, 4], ['Car', 'Bike']]

In [157]:
def test(*items): #Also we can iterate through data as argument is store as tupple
    return items[0]

In [158]:
test(1,2,3,4,5)

1

In [212]:
def test5(**data): #** used to pass dictionary as a argument
    return (data.values())

In [161]:
test5()

{}

In [210]:
type(test5())

dict_keys

In [211]:
test5(a=78,Name="Pw Skills",location="Bangalore",country="India",car="Mercedes") #It will return dictionary key value pair

dict_keys(['a', 'Name', 'location', 'country', 'car'])

In [198]:
def test6(**data):
    return ([data.get(i) for i in data if(type(data[i])==list)])

In [199]:
test6(a=78,Name="Pw Skills",location=["Bangalore","Pune","Kolkata","Mumbai","Delhi","Lucknow"],country="India",car="Mercedes")

[['Bangalore', 'Pune', 'Kolkata', 'Mumbai', 'Delhi', 'Lucknow']]

In [176]:
d={"a":78,"Name":"Pw Skills","location":["Bangalore","Pune","Kolkata","Mumbai","Delhi","Lucknow"],"country":["India","UK"]}

In [178]:
d.get("location")

['Bangalore', 'Pune', 'Kolkata', 'Mumbai', 'Delhi', 'Lucknow']

In [213]:
def test6(**data):
    return ([i for i in data.values() if(type(i)==list)])

In [214]:
test6(a=78,Name="Pw Skills",location=["Bangalore","Pune","Kolkata","Mumbai","Delhi","Lucknow"],country="India",car="Mercedes")

[['Bangalore', 'Pune', 'Kolkata', 'Mumbai', 'Delhi', 'Lucknow']]

In [215]:
#Passing tuple and dict at same time
def test(*items,**data):
    return(items,data)

In [216]:
test(1,2,3,4,5,a="Name",b=5)

((1, 2, 3, 4, 5), {'a': 'Name', 'b': 5})

###FUNCTION GENERATOR (YIELD)

In [217]:
range(1,11)

range(1, 11)

In [220]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [223]:
l=[1,2,3,4,5,6,7,8,9,"Name","Pw Skills"]

In [225]:
def test(data):
    return([i for i in data if(type(i)==int)])

In [226]:
test(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [227]:
#Here what hapening is we are getting the data as a whole after list is prepared then only output is shown

In [230]:
#But is case of this it is immediately printing when value is ready
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [249]:
#Wrting code for Fibonacci series using function generator
def test(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [252]:
test(10)

In [253]:
for i in test(10):
    print(i)

0
1
1
2
3
5
8
13
21
34