#Measure Of Central Tendencey

In [1]:
#Mean
age=[12,13,14,21,24]

In [3]:
#Calculating Average/Mean
(12+13+14+21+24)/5

16.8

In [4]:
import numpy as np
np.mean(age)

16.8

In [6]:
np.median(age)

14.0

In [7]:
np.max(age)

24

In [8]:
np.min(age)

12

In [9]:
weight=[12,45,10,23,6,9,878,54]

In [10]:
np.mean(weight)

129.625

In [12]:
np.median(weight)

17.5

In [13]:
np.max(weight)

878

In [14]:
np.min(weight)

6

In [15]:
#Mode

In [16]:
from scipy import stats

In [22]:
stats.mode(weight)

/tmp/ipykernel_1622/1102139219.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(weight)

ModeResult(mode=array([6]), count=array([1]))

In [23]:
#Measure of Dispersion

In [24]:
np.std(weight)

283.3491386522994

In [25]:
a=[1,2,3,4,5,6,7,8]

In [28]:
np. var(a)

5.25

In [29]:
np.std(a)

2.29128784747792

In [30]:
ages=[14,32,56,74,85,12,65,23,21,18]

In [31]:
np.var(ages)

672.0

In [32]:
np.std(ages)

25.92296279363144

In [33]:
np.mean(ages)

40.0

In [34]:
np.median(ages)

27.5

In [35]:
import pandas as pd

In [39]:
data=pd.DataFrame({"Ages":ages})

In [40]:
data

   Ages
0    14
1    32
2    56
3    74
4    85
5    12
6    65
7    23
8    21
9    18

In [41]:
data["Ages"].describe()

count    10.000000
mean     40.000000
std      27.325202
min      12.000000
25%      18.750000
50%      27.500000
75%      62.750000
max      85.000000
Name: Ages, dtype: float64

In [42]:
data.mean()

Ages    40.0
dtype: float64

In [43]:
weight=[80,75,25,56,38,42,52,68,79,80]

In [44]:
data=pd.DataFrame({"Weight":weight})

In [46]:
data["Ages"]=ages

In [47]:
data

   Weight  Ages
0      80    14
1      75    32
2      25    56
3      56    74
4      38    85
5      42    12
6      52    65
7      68    23
8      79    21
9      80    18

In [48]:
data.describe()

          Weight       Ages
count  10.000000  10.000000
mean   59.500000  40.000000
std    19.889975  27.325202
min    25.000000  12.000000
25%    44.500000  18.750000
50%    62.000000  27.500000
75%    78.000000  62.750000
max    80.000000  85.000000

In [49]:
data.var()

Weight    395.611111
Ages      746.666667
dtype: float64

In [50]:
data.std()

Weight    19.889975
Ages      27.325202
dtype: float64

In [51]:
data.mean()

Weight    59.5
Ages      40.0
dtype: float64

In [52]:
data.median()

Weight    62.0
Ages      27.5
dtype: float64

COVARIANCE AND CORRELATION WITH PYTHON

In [1]:
import seaborn as sns

In [3]:
df=sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [4]:
#Covariance

In [9]:
df.cov()

/tmp/ipykernel_77/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [10]:
df.corr(method='pearson')

/tmp/ipykernel_77/1928163937.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [11]:
df.corr(method='spearman')

/tmp/ipykernel_77/1222267885.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [12]:
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [13]:
#Therefore this two important correlation we can conclude with respect to increasing or coming year by year us life expectance and spending is increasing 
#as it is having positive correlations

In [15]:
df=sns.load_dataset('penguins')

In [16]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [17]:
df.corr()

/tmp/ipykernel_77/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000