In [1]:
a=10

In [2]:
print(a)

10

In [3]:
a='c'

In [4]:
print(a)

c

In [5]:
##Different types of print statements

In [6]:
age=10
print("My age is ", age)

My age is  10

In [7]:
name="Vaibhav"
age=19
degree="Btech"
print("My age is ",age," my name is ",name," and my degree is ",degree)

My age is  19  my name is  Vaibhav  and my degree is  Btech

In [9]:
print(f"My age is {age} my name is {name} and my degree is {degree}")

My age is 19 my name is Vaibhav and my degree is Btech

In [10]:
print("My age is {} my name is {} and my degree is {}".format(age,name,degree))

My age is 19 my name is Vaibhav and my degree is Btech

In [11]:
print("My age is {} my name is {} and my degree is {}".format(name,degree,age))

My age is Vaibhav my name is Btech and my degree is 19

In [13]:
print("My age is {firstage} my name is {firstname} and my degree is {firstdegree}".format(firstname=name,firstage=age,firstdegree=degree))

My age is 19 my name is Vaibhav and my degree is Btech

In [14]:
##Always try use. print(f"") format string looks good and complex

##CONTROL FLOW STATEMENTS
1)IF
2)IF SLE
3)IF ELIF ELSE
4)NESTED IF
5)SINGLE STATEMNT SUITES

In [15]:
age=18

In [16]:
if(age>=18):
    print("You are eligible to vote")

You are eligible to vote

In [17]:
if(age>=18):
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

In [18]:
age=17
if(age>=18):
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are not eligible to vote

In [19]:
17>18

False

In [20]:
18>=18

True

In [21]:
19>18

True

In [22]:
19>=18

True

##INPUTS

In [23]:
name=input("Enter your name " )

Enter your name  Vaibhav

In [24]:
name

'Vaibhav'

In [25]:
print(name)

Vaibhav

In [26]:
a=input("Enter age " )

Enter age  12

In [27]:
type(a)

str

In [28]:
##This means input taken always will be in string if we want it in integer format then we need to do typecasting

In [30]:
a=int(input("Enter your age "))

Enter your age  19

In [31]:
print(type(a))

<class 'int'>

In [32]:
type(age)

int

In [33]:
age=int(input("Enter your age "))

Enter your age  19

In [35]:
if((age>=18)and(age<=45)):
   print("You are young blood")
else:
   print("You are not young blood")

You are young blood

In [36]:
age=int(input("Enter your age "))

Enter your age  17

In [37]:
if((age>=18)and(age<=45)):
   print("You are young blood")
else:
   print("You are not young blood")

You are not young blood

In [38]:
age=int(input("Enter your age "))
if((age>=18)and(age<=45)):
   print("You are young blood")
else:
   print("You are not young blood")

Enter your age  22

You are young blood

In [39]:
age=int(input("Enter your age "))
if((age>=18)and(age<=45)):
   print("You are young blood")
else:
   print("You are not young blood")

Enter your age  55

You are not young blood

In [40]:
money=int(input("Enter your money: "))

Enter your money:  1000

In [42]:
productprice=int(input("Enter Product Price: "))
if(productprice>1000):
    print("Price:{}".format(0.8*(productprice)))
else:
    print("Price:{}".format(0.7*(productprice)))

<>:3: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:5: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:5: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?

Enter Product Price:  1000

/tmp/ipykernel_97/1678142131.py:3: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  print("Price:{}".format(0.8(productprice)))
/tmp/ipykernel_97/1678142131.py:5: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  print("Price:{}".format(0.7(productprice)))
/tmp/ipykernel_97/1678142131.py:3: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  print("Price:{}".format(0.8(productprice)))
/tmp/ipykernel_97/1678142131.py:5: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  print("Price:{}".format(0.7(productprice)))
/tmp/ipykernel_97/1678142131.py:3: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  print("Price:{}".format(0.8(productprice)))
/tmp/ipykernel_97/1678142131.py:5: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  print("Price:{}".format(0.7(productprice)))
/tmp/ipykernel_97/1678142131.py:3: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  print("Price:{}".format(0.8(productprice)))
/tmp/ipykernel_97/1678142131.py:5: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  print("Price:{}".format(0.7(productprice)))
/tmp/ipykernel_97/1678142131.py:3: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  print("Price:{}".format(0.8(productprice)))
/tmp/ipykernel_97/1678142131.py:5: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  print("Price:{}".format(0.7(productprice)))

TypeError: 'float' object is not callable

In [43]:
productprice=int(input("Enter Product Price: "))
if(productprice>1000):
    print("Price:{}".format(0.8*(productprice)))
else:
    print("Price:{}".format(0.7*(productprice)))

Enter Product Price:  1000

Price:700.0

In [44]:
productprice=int(input("Enter Product Price: "))
if(productprice>1000):
    print("Price:{}".format(0.8*(productprice)))
else:
    print("Price:{}".format(0.7*(productprice)))

Enter Product Price:  5000

Price:4000.0

In [45]:
productprice=int(input("Enter Product Price: "))
if(productprice>1000):
    print("Price:{}".format(0.8*(productprice)))
else:
    print("Price:{}".format(0.7*(productprice)))

Enter Product Price:  100

Price:70.0

In [46]:
productprice=int(input("Enter Product Price: "))
if(productprice>1000):
    print(f"Price:{0.8*(productprice)}")
else:
    print(f"Price:{0.7*(productprice)}")

Enter Product Price:  1000

Price:700.0

In [48]:
productprice=int(input("Enter Product Price: "))
if(productprice>3000):
    print(f"Price:{0.8*(productprice)}")
elif((productprice<=3000)and(productprice>2000)):
    print(f"Price:{0.7*(productprice)}")
elif((productprice<=2000)and(productprice>1000)):
    print(f"Price:{0.4*(productprice)}")
else:
    print(f"Bring Money")

Enter Product Price:  5000

Price:4000.0

In [49]:
productprice=int(input("Enter Product Price: "))
if(productprice>3000):
    print(f"Price:{0.8*(productprice)}")
elif((productprice<=3000)and(productprice>2000)):
    print(f"Price:{0.7*(productprice)}")
elif((productprice<=2000)and(productprice>1000)):
    print(f"Price:{0.4*(productprice)}")
else:
    print(f"Bring Money")

Enter Product Price:  2000

Price:800.0

In [51]:
productprice=int(input("Enter Product Price: "))
if(productprice>3000):
    print(f"Price:{0.8*(productprice)}")
elif((productprice<=3000)and(productprice>2000)):
    print(f"Price:{0.7*(productprice)}")
elif((productprice<=2000)and(productprice>1000)):
    print(f"Price:{0.4*(productprice)}")
else:
    print(f"Bring Money")

Enter Product Price:  1000

Bring Money

In [52]:
5000*80/100

4000.0

In [53]:
2000*70/100

1400.0

In [54]:
productprice=int(input("Enter Product Price: "))
if(productprice>3000):
    print(f"Price:{0.8*(productprice)}")
elif((productprice<=3000)and(productprice>2000)):
    print(f"Price:{0.7*(productprice)}")
elif((productprice<=2000)and(productprice>1000)):
    print(f"Price:{0.6*(productprice)}")
else:
    print(f"Bring Money")

Enter Product Price:  2000

Price:1200.0

In [55]:
2000*60/100

1200.0

In [56]:
productprice=int(input("Enter Product Price: "))
if(productprice>3000):
    print(f"Price:{0.8*(productprice)}")
elif((productprice<=3000)and(productprice>2000)):
    print(f"Price:{0.7*(productprice)}")
elif((productprice<=2000)and(productprice>1000)):
    print(f"Price:{0.6*(productprice)}")
else:
    print(f"Bring Money")

Enter Product Price:  5000

Price:4000.0

In [57]:
productprice=int(input("Enter Product Price: "))
if(productprice>3000):
    print(f"Price:{0.8*(productprice)}")
elif((productprice<=3000)and(productprice>2000)):
    print(f"Price:{0.7*(productprice)}")
elif((productprice<=2000)and(productprice>1000)):
    print(f"Price:{0.6*(productprice)}")
else:
    print(f"Bring Money")

Enter Product Price:  2000

Price:1200.0

In [59]:
2000*60/100

1200.0

In [60]:
productprice=int(input("Enter Product Price: "))
if(productprice>3000):
    print(f"Price:{0.8*(productprice)}")
elif((productprice<=3000)and(productprice>2000)):
    print(f"Price:{0.7*(productprice)}")
elif((productprice<=2000)and(productprice>1000)):
    print(f"Price:{0.6*(productprice)}")
else:
    print(f"Bring Money")

Enter Product Price:  2500

Price:1750.0

In [61]:
2500*70/100

1750.0

In [62]:
productprice=int(input("Enter Product Price: "))
if(productprice>3000):
    if(productprice==4000):
        print(f"You get a Goa trip")
    else:
        print(f"Price:{0.8*(productprice)}")
elif((productprice<=3000)and(productprice>2000)):
    print(f"Price:{0.7*(productprice)}")
elif((productprice<=2000)and(productprice>1000)):
    print(f"Price:{0.6*(productprice)}")
else:
    print(f"Bring Money")

Enter Product Price:  4000

You get a Goa trip

In [63]:
productprice=int(input("Enter Product Price: "))
if(productprice>3000):
    if(productprice==4000):
        print(f"You get a Goa trip")
    else:
        print(f"Price:{0.8*(productprice)}")
elif((productprice<=3000)and(productprice>2000)):
    print(f"Price:{0.7*(productprice)}")
elif((productprice<=2000)and(productprice>1000)):
    print(f"Price:{0.6*(productprice)}")
else:
    print(f"Bring Money")

Enter Product Price:  7500

Price:6000.0

In [65]:
##Single Statement Suits
val=200
if(val<100):print(f"Less than 100")
else:print(f"Not less than 100")

Not less than 100

In [66]:
val=20
if(val<100):print(f"Less than 100")
else:print(f"Not less than 100")

Less than 100

In [67]:
val=500
if(val<100):print(f"Less than 100")
else:print(f"Not less than 100")

Not less than 100

In [68]:
##Comparirison Operator ==

##Loop Statemnts
1)While Loop
2)For Loop
3)Nested Loop
4)Loop Control(Break, Continue, Pass)

In [73]:
retirementage=60
age=18
while(age!=retirementage):
    print(f"Your age is {age}")
    age=age+1
print(f"You are retired. Because your age is {age}")

Your age is 18
Your age is 19
Your age is 20
Your age is 21
Your age is 22
Your age is 23
Your age is 24
Your age is 25
Your age is 26
Your age is 27
Your age is 28
Your age is 29
Your age is 30
Your age is 31
Your age is 32
Your age is 33
Your age is 34
Your age is 35
Your age is 36
Your age is 37
Your age is 38
Your age is 39
Your age is 40
Your age is 41
Your age is 42
Your age is 43
Your age is 44
Your age is 45
Your age is 46
Your age is 47
Your age is 48
Your age is 49
Your age is 50
Your age is 51
Your age is 52
Your age is 53
Your age is 54
Your age is 55
Your age is 56
Your age is 57
Your age is 58
Your age is 59
You are retired. Because your age is 60

In [75]:
##Else block with While Loop
retirementage=60
age=18
while(age!=retirementage):
    print(f"Your age is {age}")
    age=age+1
else:
    print(f"You are retired. Because your age is {age}")

Your age is 18
Your age is 19
Your age is 20
Your age is 21
Your age is 22
Your age is 23
Your age is 24
Your age is 25
Your age is 26
Your age is 27
Your age is 28
Your age is 29
Your age is 30
Your age is 31
Your age is 32
Your age is 33
Your age is 34
Your age is 35
Your age is 36
Your age is 37
Your age is 38
Your age is 39
Your age is 40
Your age is 41
Your age is 42
Your age is 43
Your age is 44
Your age is 45
Your age is 46
Your age is 47
Your age is 48
Your age is 49
Your age is 50
Your age is 51
Your age is 52
Your age is 53
Your age is 54
Your age is 55
Your age is 56
Your age is 57
Your age is 58
Your age is 59
You are retired. Because your age is 60

In [77]:
amount=1000
while(amount!=0):
    print(f"Amount = {amount}")
    amount=amount-100
else:
    print(f"Amount = {amount}")
    print(f"Paisa bharo bank walo")

Amount = 1000
Amount = 900
Amount = 800
Amount = 700
Amount = 600
Amount = 500
Amount = 400
Amount = 300
Amount = 200
Amount = 100
Amount = 0
Paisa bharo bank walo

#FOR LOOP

In [79]:
list=[1,4,2.4,'a',"Hi My name Is","Unknown"]

In [80]:
list

[1, 4, 2.4, 'a', 'Hi My name Is', 'Unknown']

In [81]:
type(list)

list

In [82]:
print(type(list))

<class 'list'>

In [83]:
list[0]

1

In [85]:
len(list)

6

In [86]:
list[5]

'Unknown'

In [87]:
list[6]

IndexError: list index out of range

In [88]:
list[-1]

'Unknown'

In [89]:
list[4]

'Hi My name Is'

In [90]:
list[3]

'a'

In [91]:
list[2]

2.4

In [92]:
list[4]

'Hi My name Is'

In [93]:
list[5]

'Unknown'

In [94]:
for x in list:
    print(x)

1
4
2.4
a
Hi My name Is
Unknown

In [95]:
type(list[0])

int

In [96]:
fruits_list=["Mango","Cherry","Apple","Papaya","Banana"]

In [97]:
fruits_list

['Mango', 'Cherry', 'Apple', 'Papaya', 'Banana']

In [98]:
for x in list:
    print(x)

1
4
2.4
a
Hi My name Is
Unknown

In [99]:
for x in fruits_list:
    print(x)

Mango
Cherry
Apple
Papaya
Banana

In [100]:
for x in fruits_list:
    print(x)
    if(x=="Apple"):
        print(f"It's a good fruit")

Mango
Cherry
Apple
It's a good fruit
Papaya
Banana

In [101]:
for x in fruits_list:
    print(x,end='')

MangoCherryApplePapayaBanana

In [102]:
for x in fruits_list:
    print(x,end=' ')

Mango Cherry Apple Papaya Banana

In [103]:
##String is collection of elements
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [104]:
fruit="mango"
for x in fruit:
    print(x,end=' ')

m a n g o

In [105]:
fruit="mango"
for x in fruit:
    print(x,end='')

mango

In [106]:
fruit[0]

'm'

In [2]:
###NESTED LOOP

In [3]:
##range(start,stop)

In [4]:
range(1,6)

range(1, 6)

In [5]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [6]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [7]:
for i in range(1,20,5):
    print(i)

1
6
11
16

In [8]:
for i in range(0,21,5):
    print(i)

0
5
10
15
20

In [12]:
n=7
for i in range(1,7):
    for j in range(0,i):
        print("*",end="")
    print("\n")

*

**

***

****

*****

******

In [16]:
n=7
for i in range(1,7):
    for k in range(1,7-i):
        print(end=" ")
    for j in range(0,i):
        print("* ",end="")
    print("\n")

     *

    * *

   * * *

  * * * *

 * * * * *

* * * * * *

In [17]:
n=7
for i in range(1,7):
    for k in range(1,7-i):
        print(end=" ")
    for j in range(0,i):
        print("* ",end="")
    print("\r")

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
##LOOP CONTROL
##BREAK AND CONTINUE

In [ ]:
23==34