#TUPPLE

In [25]:
#Till NOW
print(type(1))
print(type(1.0))
print(type('e'))
print(type([]))
print(type(True))
print(type(3+4j))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'bool'>
<class 'complex'>

In [7]:
type(())

tuple

In [8]:
print(type(()))

<class 'tuple'>

In [9]:
t=(1,23,3.4,3.0,"A","Welcome to Data Science Masters",True)

In [10]:
type(t)

tuple

In [11]:
t

(1, 23, 3.4, 3.0, 'A', 'Welcome to Data Science Masters', True)

In [12]:
#TUPPLES AND LISTS DIFFERENCES
#I)IN LIST WE USE SQUARE BRACKET WHILE IN TUPPLE WE USE ROUND BRACKET

In [14]:
t[0]

1

In [15]:
t[3]

3.0

In [16]:
t[4]

'A'

In [17]:
t[5]

'Welcome to Data Science Masters'

In [18]:
t[-1]

True

In [19]:
t[-4]

3.0

In [20]:
len(t)

7

In [21]:
t[::-1]

(True, 'Welcome to Data Science Masters', 'A', 3.0, 3.4, 23, 1)

In [22]:
t

(1, 23, 3.4, 3.0, 'A', 'Welcome to Data Science Masters', True)

In [23]:
t=[3+4j,True, 'Welcome to Data Science Masters', 'A', 3.0, 3.4, 23, 1]

In [24]:
t

[(3+4j), True, 'Welcome to Data Science Masters', 'A', 3.0, 3.4, 23, 1]

In [35]:
#Index Slicing for Tuples
t[::-1]

[1, 23, 3.4, 3.0, 'A', 'Welcome to Data Science Masters', True, (3+4j)]

In [31]:
t1=t[::-1]

In [32]:
t1

[1, 23, 3.4, 3.0, 'A', 'Welcome to Data Science Masters', True, (3+4j)]

In [36]:
t1[-1:-4:-1]

[(3+4j), True, 'Welcome to Data Science Masters']

In [66]:
t1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [38]:
t1

[(3+4j), True, 'Welcome to Data Science Masters', 'A', 3.0, 3.4, 23, 1]

In [39]:
t1.sort()

TypeError: '<' not supported between instances of 'bool' and 'complex'

In [40]:
t=("Mercedes","BMW","City","Audi","Ferrari")

In [41]:
t

('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari')

In [43]:
t

('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari')

In [45]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [46]:
del(t)

In [47]:
t=("Mercedes","BMW","City","Audi","Ferrari")

In [48]:
t

('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari')

In [49]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [50]:
t1

[(3+4j), True, 'Welcome to Data Science Masters', 'A', 3.0, 3.4, 23, 1]

In [51]:
t1[0]=4

In [52]:
t1[1]="PW Skills"

In [53]:
t1

[4, 'PW Skills', 'Welcome to Data Science Masters', 'A', 3.0, 3.4, 23, 1]

In [55]:
t1=t

In [56]:
t1

('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari')

In [57]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [58]:
t1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [59]:
t1

('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari')

In [61]:
t1.count

In [62]:
t1.index

In [63]:
t1.index("BMW")

1

In [64]:
t1.count("Audi")

1

In [65]:
t1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [72]:
t=("A",2,3,4,44,4,5,6,34,4,4,True,1,0)

In [68]:
t.count(4)

4

In [69]:
t.count("B")

0

In [70]:
t.index(4) #Gives First Occurence of Element

3

In [73]:
t.count(1)

2

In [74]:
t.count(True)

2

In [75]:
t.count(False)

1

In [76]:
t[0]="B"

TypeError: 'tuple' object does not support item assignment

In [77]:
#Tupples does not support mutablity concept

In [78]:
#Basically Tupples are Immutable in Nature

In [79]:
#LISTS ARE MUTABLE AND TUPLE ARE IMMUTABLE

In [80]:
t1

('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari')

In [82]:
#Tupple has count which counts given element occurence and index operation for finding index of first occuring element
#for given element

In [84]:
for i in t1:
    print(i)

Mercedes
BMW
City
Audi
Ferrari

In [85]:
"BMW" in t1

True

In [86]:
for i in t1:
    print(f"Element = {i} , Datatype = {type(i)}")

Element = Mercedes , Datatype = <class 'str'>
Element = BMW , Datatype = <class 'str'>
Element = City , Datatype = <class 'str'>
Element = Audi , Datatype = <class 'str'>
Element = Ferrari , Datatype = <class 'str'>

In [89]:
t1*3 #Triples every element so it's length also increases

('Mercedes',
 'BMW',
 'City',
 'Audi',
 'Ferrari',
 'Mercedes',
 'BMW',
 'City',
 'Audi',
 'Ferrari',
 'Mercedes',
 'BMW',
 'City',
 'Audi',
 'Ferrari')

In [90]:
t1

('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari')

In [92]:
max(t1)

'Mercedes'

In [93]:
min(t1)

'Audi'

In [95]:
t2=("Honda","Toyota")

In [96]:
t2

('Honda', 'Toyota')

In [97]:
t1 + t2

('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari', 'Honda', 'Toyota')

"""Tuple are basically follows  Immutability concepts where it is not going to allow to change any element at a perticular index"""

In [99]:
t3=(t1,t2)

In [100]:
t3

(('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari'), ('Honda', 'Toyota'))

In [101]:
t4=((t1),[1,"Pw Skills",4.5,5.0],["A",3,True])

In [102]:
t4

(('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari'),
 [1, 'Pw Skills', 4.5, 5.0],
 ['A', 3, True])

In [103]:
del(t1)

In [104]:
t4

(('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari'),
 [1, 'Pw Skills', 4.5, 5.0],
 ['A', 3, True])

In [105]:
t

('A', 2, 3, 4, 44, 4, 5, 6, 34, 4, 4, True, 1, 0)

In [106]:
t1

NameError: name 't1' is not defined

In [107]:
len(t4)

3

In [108]:
t4

(('Mercedes', 'BMW', 'City', 'Audi', 'Ferrari'),
 [1, 'Pw Skills', 4.5, 5.0],
 ['A', 3, True])

In [109]:
5.0 in t4

False

In [110]:
'A' in t4

False

In [111]:
['A', 3,True] in t4

True

###SETS

In [112]:
s={}

In [113]:
type(s)

dict

In [114]:
print(type(s))

<class 'dict'>

In [115]:
s={1,2,3,4}

In [116]:
type(s)

set

In [117]:
s={2,'A','My Name'}

In [118]:
s

{2, 'A', 'My Name'}

In [120]:
#We can use all sets operation that we use in mathematics here

In [122]:
s1={1,56,5.3,5.0,5,'A',"Pw Skills",True,3+4j,0}

In [123]:
s2={False,True,"2",5,"Greetings"}

In [124]:
s1.union(s2)

{(3+4j), 1, '2', 5.0, 5.3, 56, 'A', False, 'Greetings', 'Pw Skills'}

In [125]:
s1.intersection(s2)

{True, 5}

In [126]:
s1.add("Car") #Randomly adds element

In [127]:
s1

{(3+4j), 1, 5.0, 5.3, 56, 'A', 'Car', 'Pw Skills'}

In [128]:
s1.clear() #Removes all values

In [129]:
s1

set()

In [130]:
s1=s2

In [131]:
s1

{'2', 5, False, 'Greetings', True}

In [134]:
s1.pop() #Randomly pops

True

In [133]:
s1

{'2', 5, 'Greetings', True}

In [135]:
s1

{'2', 5, 'Greetings'}

In [136]:
s1[0]="A" #Sets are immutable like Strings and Tupples

TypeError: 'set' object does not support item assignment

In [138]:
s1.add("Car")

In [139]:
s1

{'2', 5, 'Car', 'Greetings'}

In [140]:
s1.add(23)

In [141]:
s1

{'2', 23, 5, 'Car', 'Greetings'}

In [142]:
s2={1,2,3,45,4,32,42,2,3,1}

In [143]:
len(s2)

7

In [146]:
s2 #removes all duplicate elemnets in set

{1, 2, 3, 4, 32, 42, 45}

In [145]:
s2

{1, 2, 3, 4, 32, 42, 45}

In [147]:
#Sets tries to save unique information and removes duplicates in sets

In [148]:
#Set to List

In [149]:
list1=list(s2)

In [150]:
list1

[32, 1, 2, 3, 4, 42, 45]

In [151]:
s2

{1, 2, 3, 4, 32, 42, 45}

In [152]:
s2

{1, 2, 3, 4, 32, 42, 45}

In [153]:
#Set to tupple

In [154]:
t1=tuple(s2)

In [155]:
t1

(32, 1, 2, 3, 4, 42, 45)

In [156]:
#List to Set

In [158]:
s=set(list1)

In [159]:
s

{1, 2, 3, 4, 32, 42, 45}

In [160]:
t=set(t1)

In [161]:
t

{1, 2, 3, 4, 32, 42, 45}

In [162]:
#If we want to remove all duplicate elements from list or tuple then simply convert list or tuple to set and then again back 
#to list or tuple this will remove all. duplicate element in list or tuple

In [163]:
s1={1,2,3,[2,34]}

TypeError: unhashable type: 'list'

In [164]:
s2={2,4,3,1,3,(4,4,3,6)}

In [165]:
s2

{(4, 4, 3, 6), 1, 2, 3, 4}

In [166]:
#This is becaues Set is not allowing to store list is due to list is muttable and set is immutable
#So Set is allowing to store tupple because both are immutable

In [167]:
s={"Name","name",1,2,4,53,45,21,1,2}

In [168]:
s

{1, 2, 21, 4, 45, 53, 'Name', 'name'}

In [169]:
s[0]

TypeError: 'set' object is not subscriptable

In [170]:
t=(9,6,7,4)

In [171]:
t[0]

9

In [172]:
s[0]

TypeError: 'set' object is not subscriptable

In [173]:
t[::-1]

(4, 7, 6, 9)

In [174]:
s[::-1]

TypeError: 'set' object is not subscriptable

In [176]:
#We can't directly do this index slicing operation on set but by converting it to tupple or list we can and after job 
#is done convert back to set

In [177]:
for i in s:
    print(i)

1
2
4
name
45
53
21
Name

In [178]:
s

{1, 2, 21, 4, 45, 53, 'Name', 'name'}

In [179]:
#That is using for loop we can iterate in sets

In [180]:
s.add(8)

In [181]:
s

{1, 2, 21, 4, 45, 53, 8, 'Name', 'name'}

In [182]:
s.add(2)

In [184]:
#It won't add coz we have already element present

In [185]:
s

{1, 2, 21, 4, 45, 53, 8, 'Name', 'name'}

In [186]:
s.pop()

1

In [187]:
s.pop()

2

In [188]:
s

{21, 4, 45, 53, 8, 'Name', 'name'}

In [189]:
s.pop()

4

In [190]:
s.pop(45)

TypeError: set.pop() takes no arguments (1 given)

In [191]:
s.clear()

In [192]:
s

set()

In [193]:
s.add(1)

In [194]:
s

{1}

In [195]:
s1={1,3,5,7,2,4}
s2={2,4,6,8,1,3}

In [201]:
s1.difference(s2)

{5, 7}

In [202]:
s2.difference(s1)

{6, 8}

###DICT

In [1]:
d={}

In [2]:
type(d)

dict

In [3]:
print(type(d))

<class 'dict'>

In [4]:
#Stores {Key : Value} Pair

In [5]:
d={"WagonR":"Maruti Suzuki","Verna":"Honda","Fortuner":"Toyota","Duster":"Renault","Tiago":"Tata"}

In [6]:
d

{'WagonR': 'Maruti Suzuki',
 'Verna': 'Honda',
 'Fortuner': 'Toyota',
 'Duster': 'Renault',
 'Tiago': 'Tata'}

In [7]:
type(d)

dict

In [8]:
d

{'WagonR': 'Maruti Suzuki',
 'Verna': 'Honda',
 'Fortuner': 'Toyota',
 'Duster': 'Renault',
 'Tiago': 'Tata'}

In [9]:
d1={"Name":"Priyanshu","Name":"Ayesha"}

In [10]:
d1

{'Name': 'Ayesha'}

In [11]:
#Note key should be always unique

In [12]:
#If the key is repeated second time then it will update previous value to new value

In [13]:
d1

{'Name': 'Ayesha'}

In [14]:
d1={"Name":"Priyanshu","Number":"Prianshu"}

In [15]:
d1

{'Name': 'Priyanshu', 'Number': 'Prianshu'}

In [16]:
#That is Value can be same for two different key but key cannot be same for two different value

In [17]:
d2={1234:"Name","Address":2335,True:23344,1.45:False}

In [18]:
d2

{1234: 'Name', 'Address': 2335, True: 23344, 1.45: False}

In [19]:
#That is there is no restriction on datatype of key and value

In [20]:
d3={#:1244}

SyntaxError: incomplete input (2375231720.py, line 1)

In [21]:
d3={2344:$}

SyntaxError: invalid syntax (2884316766.py, line 1)

In [22]:
#We are not allowed to take special character either key or value but we can take them as a string for key or value

In [23]:
d4={"#":13434,"Name":"$"}

In [24]:
d4

{'#': 13434, 'Name': '$'}

In [25]:
d5={[12,4,24]:"dfrgt"}

TypeError: unhashable type: 'list'

In [28]:
d6={2345:[3,"Name"]}

In [29]:
d6

{2345: [3, 'Name']}

In [30]:
#Cannot take as a key but can take list as a value

In [33]:
d7={(1,4,2,5,8,9):"Address"}

In [34]:
d7

{(1, 4, 2, 5, 8, 9): 'Address'}

In [35]:
d8={1234:(12345,"Name")}

In [36]:
d8

{1234: (12345, 'Name')}

In [37]:
#Therefore we can take tuple as both key and value

In [38]:
d9={{1,3,5}:"Address"}

TypeError: unhashable type: 'set'

In [45]:
d10={1345:{2,56,7,4,99}}

In [46]:
d10

{1345: {2, 4, 7, 56, 99}}

In [47]:
#Cannot take Set as a key but can use a key

In [41]:
d11={{"Name":"Address"}:2345}

TypeError: unhashable type: 'dict'

In [42]:
d12={2345:{"Name":"Address"}}

In [43]:
d12

{2345: {'Name': 'Address'}}

In [44]:
#Cannot use dict as a key but can use a value

In [48]:
#We conclude Tupple can only be use as a key and list, tupple, set, dict can all be use as a value

In [49]:
#key should always be value

In [50]:
d1={"Courses":["Data Science Master","Web Development"]}

In [51]:
d1

{'Courses': ['Data Science Master', 'Web Development']}

In [52]:
d2={"Key":(1,2,3,4,5)}

In [54]:
d2

{'Key': (1, 2, 3, 4, 5)}

In [55]:
d3={"key":{1,2,3,4,5}}

In [56]:
d4={"key":{"Course":"Data Science Master"}}

In [57]:
d4

{'key': {'Course': 'Data Science Master'}}

In [6]:
d={"Course Name":["Data Science Masters","Web Development","Java Data Structure"],"Start Date":(28,14,21),"Mentor Name":{"Krish Naik","Sudhanshu","Hitesh","Anurag Tiwari","Naveen","Haider"}}

In [7]:
d

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Start Date': (28, 14, 21),
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'}}

In [65]:
#Here in Dictionary d we have list,tupple,set as a value

In [71]:
d["Platform"]="PW  Skills","Ineuron" #Adding Key Value pair by default it will take as tupple

In [72]:
d

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Start Date': (28, 14, 21),
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'},
 'Platform': ('PW  Skills', 'Ineuron')}

In [75]:
d["Start Date"]=(12,23,29) #Will update original key's value

In [76]:
d

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Start Date': (12, 23, 29),
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'},
 'Platform': ('PW  Skills', 'Ineuron')}

In [78]:
d["Course Name"] #Accesing Value from their key in case of list we were accesing value from list index

['Data Science Masters', 'Web Development', 'Java Data Structure']

In [79]:
#In dict we access value using key

In [80]:
d["Mentor Name"]

{'Anurag Tiwari', 'Haider', 'Hitesh', 'Krish Naik', 'Naveen', 'Sudhanshu'}

In [81]:
type(d["Mentor Name"])

set

In [83]:
type(d["Course Name"])

list

In [84]:
type(d["Start Date"])

tuple

In [86]:
d["Name"] #Will give error if value for given key is ot present in dictionary

KeyError: 'Name'

In [87]:
d["Mentor Name"]

{'Anurag Tiwari', 'Haider', 'Hitesh', 'Krish Naik', 'Naveen', 'Sudhanshu'}

In [89]:
d["Course Name"]

['Data Science Masters', 'Web Development', 'Java Data Structure']

In [91]:
" ".join(d["Course Name"]) #We can apply all list property as we know the value here is list

'Data Science Masters Web Development Java Data Structure'

In [92]:
d

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Start Date': (12, 23, 29),
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'},
 'Platform': ('PW  Skills', 'Ineuron')}

In [93]:
d1={"Key":{"Name":"Krish Naik","Address":"Bangalore","Mobile Number":123456789}}

In [96]:
d2=d1["Key"]

In [97]:
d2

{'Name': 'Krish Naik', 'Address': 'Bangalore', 'Mobile Number': 123456789}

In [100]:
str1=d2["Name"]

In [101]:
str1

'Krish Naik'

In [102]:
d1["Key"]["Name"]

'Krish Naik'

In [103]:
d1["Key1"]="abc"

In [104]:
d1

{'Key': {'Name': 'Krish Naik',
  'Address': 'Bangalore',
  'Mobile Number': 123456789},
 'Key1': 'abc'}

In [107]:
d1.pop("Key1")

'abc'

In [108]:
d1

{'Key': {'Name': 'Krish Naik',
  'Address': 'Bangalore',
  'Mobile Number': 123456789}}

In [109]:
d1["Key1"]="abc"

In [110]:
d1

{'Key': {'Name': 'Krish Naik',
  'Address': 'Bangalore',
  'Mobile Number': 123456789},
 'Key1': 'abc'}

In [112]:
del d1["Key"]

In [113]:
d1

{'Key1': 'abc'}

In [116]:
d1.clear() #Clears all keys and values in that dictionary without deleting dictionary itself it basically empties dictionary

In [115]:
d1

{}

In [117]:
d

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Start Date': (12, 23, 29),
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'},
 'Platform': ('PW  Skills', 'Ineuron')}

In [119]:
len(d) #Returns total key:value pairs in that dictionary

4

In [121]:
d.keys() #Extracts all keys in given dictionary

dict_keys(['Course Name', 'Start Date', 'Mentor Name', 'Platform'])

In [128]:
list1=list(d.keys())

In [129]:
list1

['Course Name', 'Start Date', 'Mentor Name', 'Platform']

In [130]:
list1[1]

'Start Date'

In [127]:
d.values() #Gives all values in dictionary

dict_values([['Data Science Masters', 'Web Development', 'Java Data Structure'], (12, 23, 29), {'Naveen', 'Anurag Tiwari', 'Sudhanshu', 'Krish Naik', 'Hitesh', 'Haider'}, ('PW  Skills', 'Ineuron')])

In [131]:
list2=list(d.values())

In [132]:
list2

[['Data Science Masters', 'Web Development', 'Java Data Structure'],
 (12, 23, 29),
 {'Anurag Tiwari', 'Haider', 'Hitesh', 'Krish Naik', 'Naveen', 'Sudhanshu'},
 ('PW  Skills', 'Ineuron')]

In [133]:
list2[1]

(12, 23, 29)

In [135]:
list3=[list1,list2]

In [138]:
list3 #Here we have two list in main list one list represents key and other value of dictionary

[['Course Name', 'Start Date', 'Mentor Name', 'Platform'],
 [['Data Science Masters', 'Web Development', 'Java Data Structure'],
  (12, 23, 29),
  {'Anurag Tiwari', 'Haider', 'Hitesh', 'Krish Naik', 'Naveen', 'Sudhanshu'},
  ('PW  Skills', 'Ineuron')]]

In [139]:
len(list3[0])

4

In [145]:
d3={}
for i in range(len(list3[0])):
    d3[list3[0][i]]=list3[1][i]

In [146]:
d3

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Start Date': (12, 23, 29),
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'},
 'Platform': ('PW  Skills', 'Ineuron')}

In [151]:
d is d3

False

In [153]:
d==d3

True

In [148]:
d

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Start Date': (12, 23, 29),
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'},
 'Platform': ('PW  Skills', 'Ineuron')}

In [150]:
d3

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Start Date': (12, 23, 29),
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'},
 'Platform': ('PW  Skills', 'Ineuron')}

In [154]:
#Therefore we converted dict to list and then list back to dict

In [155]:
list1=list(d.items())

In [156]:
list1

[('Course Name',
  ['Data Science Masters', 'Web Development', 'Java Data Structure']),
 ('Start Date', (12, 23, 29)),
 ('Mentor Name',
  {'Anurag Tiwari', 'Haider', 'Hitesh', 'Krish Naik', 'Naveen', 'Sudhanshu'}),
 ('Platform', ('PW  Skills', 'Ineuron'))]

In [157]:
list3

[['Course Name', 'Start Date', 'Mentor Name', 'Platform'],
 [['Data Science Masters', 'Web Development', 'Java Data Structure'],
  (12, 23, 29),
  {'Anurag Tiwari', 'Haider', 'Hitesh', 'Krish Naik', 'Naveen', 'Sudhanshu'},
  ('PW  Skills', 'Ineuron')]]

In [158]:
d

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Start Date': (12, 23, 29),
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'},
 'Platform': ('PW  Skills', 'Ineuron')}

In [161]:
d1=d #Shallow copy -- Same Memory location

In [163]:
d1==d

True

In [164]:
d1 is d

True

In [ ]:
#That is shallow copy will have same data as well as same memory address that is deleting key in d will also delete key i d1

In [170]:
d1=d.copy() #This is deep copy -- Different Memory Location

In [166]:
d1==d

True

In [167]:
d1 is d

False

In [171]:
#That is deep copy will have be sme copied dictionary but not same memory adress of copied dictionary, they both will have thier own addressess
#So if we delete key in d it will not affect any key or data in d1

In [8]:
d

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Start Date': (28, 14, 21),
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'}}

In [9]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [11]:
d.pop("Start Date")

(28, 14, 21)

In [12]:
d

{'Course Name': ['Data Science Masters',
  'Web Development',
  'Java Data Structure'],
 'Mentor Name': {'Anurag Tiwari',
  'Haider',
  'Hitesh',
  'Krish Naik',
  'Naveen',
  'Sudhanshu'}}

In [14]:
d.get("Course Name")

['Data Science Masters', 'Web Development', 'Java Data Structure']

In [15]:
d["Course Name"]

['Data Science Masters', 'Web Development', 'Java Data Structure']

In [17]:
d.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [18]:
d19 = {"key1" : "value" , "key2" : "value2"}
d20 = {"key3" : "value3" , "key4" :"value4"}

In [19]:
(d19,d20)

({'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [27]:
d19.update(d20)

In [28]:
d19

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [29]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [40]:
d20.update(d19)

In [41]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [42]:
d19==d20

True

In [43]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [45]:
d20.get("key3")

'value3'

In [46]:
d20.get("key10")

In [48]:
d20["key3"]

'value3'

In [49]:
d20["key10"]

KeyError: 'key10'

In [51]:
#That is dict gives error if key is not present and we want it's value but get function does not give error even if 
#dict does not have that key just it will not return that value of key

##DICTIONARY COMPREHENCION

In [52]:
#CODE
d={}
for i in range(1,11):
    d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [53]:
#Using dict comprehension

In [56]:
d={i:i*i for i in range(1,11)}

In [57]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [58]:
#Prepare dict where value should be +5 of key

In [59]:
d={i:i+3 for i in range(1,11)}

In [60]:
d

{1: 4, 2: 5, 3: 6, 4: 7, 5: 8, 6: 9, 7: 10, 8: 11, 9: 12, 10: 13}

In [62]:
import math
d={i:math.log(i) for i in range(1,11)}

In [63]:
d

{1: 0.0,
 2: 0.6931471805599453,
 3: 1.0986122886681098,
 4: 1.3862943611198906,
 5: 1.6094379124341003,
 6: 1.791759469228055,
 7: 1.9459101490553132,
 8: 2.0794415416798357,
 9: 2.1972245773362196,
 10: 2.302585092994046}

In [64]:
import math
d={i:math.log10(i) for i in range(1,11)}

In [65]:
d

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [66]:
d={1:"abc",2:"pqr"}

In [67]:
1 in d

True

In [68]:
import math
d={i:math.log10(i) for i in range(1,11)}

In [73]:
#Make tupple of keys where key is even number
t=()
t=tuple((i for i in d if(i%2==0)))

In [74]:
t

(2, 4, 6, 8, 10)

In [77]:
#Make tupple of values where key is even number
t=()
t=tuple((d.get(i) for i in d if(i%2==0)))

In [78]:
t

(0.3010299956639812,
 0.6020599913279624,
 0.7781512503836436,
 0.9030899869919435,
 1.0)

In [79]:
#Make tupple of values where key is even number
t=()
t=tuple((d[i] for i in d if(i%2==0)))

In [81]:
t

(0.3010299956639812,
 0.6020599913279624,
 0.7781512503836436,
 0.9030899869919435,
 1.0)